* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav img {
  width: 150px;
}

.text-box {
  width: 100%;
  color: white;
  position: absolute;
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  margin-top: 50px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solld #d4a373;
  background: #d4a373;
  transform: 1s;
}
/* menu */

.menu {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/* feedbacks */
#carouselExample {
  height: 600px;
  overflow: hidden;
}

#carouselExample img {
  height: 600px;
  object-fit: fill;
}
#carouselExample .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* about */
#about {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(background5.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

/* feedback */
#feedback {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(background3.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

/* contact */

#contact {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(background4.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

#contact p {
  color: white;
}

/* visit */

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 100%;
  position: absolute;
}
